* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

body {
  background-color: rgb(29, 12, 46);
}

.head {
  background-color: rgb(250, 66, 66);
  padding: 11px;
  font-size: 25px;
  color: white;
}

.score-board {
  margin: 35px auto 20px;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
}

.badge {
  background-color: rgb(250, 66, 66);
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.totalResult {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  margin-inline: 33px;
  cursor: pointer;
}

.game {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4rem;
  flex-wrap: wrap;
}

#comp,
#user {
  width: 6rem;
  height: 6rem;
  border: solid 1px white;
  border-radius: 3rem;
  font-size: 4rem;
  line-height: 7rem;
}

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  padding: 10px;
  display: inline-block;
}

.choice img {
  width: 6rem;
  height: 6rem;
  border: solid 1px white;
  border-radius: 3rem;
  font-size: 4rem;
  line-height: 7rem;
  transition: all 0.3s ease;
}

.choice img:hover {
  cursor: pointer;
  background-color: #24272e;
  border: 4px solid rgb(40, 40, 240);
}


/* Media Query Breakpoint */
@media (max-width: 576px){
  body{
    text-align: center;
  }

  .head{
    font-size: 22px;
  }
  .score-board {
    margin: 30px auto 18px;
  }

  .totalResult{
    margin-bottom: 34px;
    font-size: 14px;
  }
  .game{
    gap: 0.5rem;
    margin-top: 25px;
  }

  .choices {
    margin: 30px 0;
  }
}